<!-- HEADER -->
<header class="flex row">
  <div class="flex row align-center">
    <img src="/assets/img/linto-app-logo.svg" class="logo" alt="Linto.APP logo"/>
  </div>
  <div class="flex1 flex row nav align-center">
    <a href="https://linto.ai/produits/linto-for-meeting" class="nav-link" target="_blank">
      <span class="label">A propos</span></a>
    <a href="https://linto.ai" target="_blank" class="nav-link">
      <span class="label">LinTO.ai</span></a>
    <a href="https://linto.ai/contact" class="nav-link" target="_blank">
      <span class="label">Contact</span></a>
  </div>
  <div class="flex row nav align-center justify-end" >
    <a href="https://alpha.linto.ai" class="nav-link studio" target="_blank">
      <span class="icon studio"></span>
      <span class="label">Se connecter à LinTO STUDIO</span>
      </a>
  </div>
</header>
<!-- END HEADER-->