@media all and (max-width: 1280px){
  h2{
    font-size: 26px;
  }
}

@media all and (max-width: 1024px) { 
  #homepage{
    flex-direction: column !important;
  }
  h2{
    padding-top: 0;
    max-width: 90%;

  }
  #linto-app-wrapper{
    padding-top: 100px;
    &:after{
      display: none;
    }
  }
  #app{
    overflow: auto;
  }
  #linto-app-wrapper,
  #linto-studio-wrapper {
    box-sizing: border-box;
    padding: 20px;
  }
  
}

@media all and (max-width: 960px) { 
  header{
    position: relative;
    height: auto;
    padding: 10px;
    .logo{
      height: 50px;
      width: auto;
    }
    .nav{
      flex-direction: column !important;
      padding: 0 5px;
      justify-content: center !important;
      .nav-link{
        &.studio{
          .label{
            display: none;
          }
        }
      }
    }
  }
  #linto-app-wrapper{
    padding-top: 40px;
  }
}
